#ocean{
	position: absolute;
	left:1%;
	top:1%;
	z-index: -1;
}


#shiparea{
	position: absolute;
	left:2%;
	top:2%;
	z-index: -10;
}

#boy{
	position: absolute;
	padding-top: 1%;
	left:180px;
	top:300px;
	z-index: 10;
	display: none;
}

#girl{
	position: absolute;
	padding-top: 1%;
	left:180px;
	top:300px;
	z-index: 20;
	display: none;
}


#boydie{
	position: absolute;
	padding-top: 1%;
	left:600px;
	top:550px;
	z-index: 10;
	display: none;
}

#girldie{
	position: absolute;
	padding-top: 1%;
	left:600px;
	top:550px;
	z-index: 20;
	display: none;
}


#predictionPanel{
	position: absolute;
	left: 70%;
	top:30%;
	width: 20%;
	height: 60%;
	z-index: 20;
	background-color: #CFCFCF;
	border: 5px solid #a1a1a1;
	padding: 1% 1%; 
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
	
	font-family: Papyrus, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}


